    body {
        width: 800px;
        align: auto;
        margin: 1%;
        white-space: nowrap;
        text-align: center;
    }

    .col {
        display: flex;
        padding: 1%;
    }

    .lbl {
        display: block;
        line-height: 250%;
        font-size: .9em;
        width: 55px;
        height: auto;
        border: 1px solid #ff3000;
        border-radius: 8px 0 0 8px;
        background-color: bisque;
        cursor: pointer;
        margin-left: 0;
    }

    input {
        width: 192px;
        height: 25px;
        text-align: center;
        border: 2px solid rgb(150, 201, 129);
        border-radius: 0px 8px 8px 0px;
        margin-left: 0;
        margin-right: 10px;
    }

    .emailCont input {
        width: 275px;
    }

    #outputLast, #output {
        width: 435px;
    }
    

    button {
        width: 130px;
        border: 2px solid rgb(114, 190, 255);
        background-color: rgb(184, 222, 255);
        border-radius: 8px;
    }

    #output {
        border-radius: 8px;
        width: 492px;
    }

    #copy, #outputPhone {
        border-radius: 0 8px 8px 0;
    }

    #outputPhone {
        width: 428px;
    }

    #gen, #number {
        border-radius: 8px 0 0 8px;
    }

    #number {
        width: 52px;
    }

    .inputCont, .emailCont {
        display: flex;
    }
    
    #gen {
        margin-left: 8px;
    }

    #copyLastEmail, #genPhone {
        margin-left: 8px;
        width: 260px;
    }